# Created by .ignore support plugin (hsz.mobi)
.idea/
build/
dist/
ksif.egg-info/
data/

/test.py

# Virtual environments
/venv

# PyCharm temp files.
.idea/

# Raw data files.
data/
!test/data/

# Log files.
test/.cache

*.xlsx
*.csv

.DS_Store
core/__pycache__/

# Virtual environments
venv/

__pycache__